
<div class="rules-wrapper">
<ul>
    <li>This game will be played amongst 2 people, one will guess the word and another will give hints</li>
    <li>Hints should not include the word itself or the words synoname in any language</li>
    <li>You can not pointout to a person while giving hits, if the person name is to be gussed </li>
    <li>You can not use blood relations to describe the person in card</li>
    <li>Word should be guessed before the timer ends</li>
    <li>Team wil be given 3 changes to guess the word, the team which guesses maximum will win,
         Results will be out once all participants finish their chance </li>
</ul>
</div>
